@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Home page: Förklarar lite vad sidan går ut på och erbjuder användaren att logga in/registrera via
        ett par knappar (båda leder direkt till Events sidan för vi har inte gått igenom
        autentisering&identifiering ännu)
    </p>
    <a href="/TheEvents">
        <input type="button" class="btn btn-primary" value="Register">
    </a> <a href="/TheEvents">
    <input type="button" class="btn btn-primary" value="Log In">
    </a>
 
</div>


