@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>
        Look at our events and push the button to join!

    </h4>
    <a asp-page="TheEvents">
        <input type="button" class="btn btn-primary" value="Register">
    </a> <a asp-page="TheEvents">
        <input type="button" class="btn btn-primary" value="Log In">
    </a>


</div>


