@page
@model InlamningASP1.Pages.MyEventsModel

@{
    ViewData["Title"] = "MyEvents";
}

<h1>MyEvents</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>

    </thead>
    <tbody>
        @foreach (var item in Model.Attendee.Events)
        {
         
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Place)</td>
            </tr>
     
        }
    </tbody>
</table>
